@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

main {
  width: 60%;
  margin: 0 20%;
}

.logo {
  border-bottom: 1px solid rgb(221 221 20);
}

.img-logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 1%;
  width: 200px;
  padding-top: 0.9%;
}

picture {
  width: 95%;
}

video {
  border-radius: 2%;
}
h4 {
  background-color: rgb(243 243 84 / 48%);
  text-align: center;
  font-size: 1em;
  color: rgb(77, 136, 136);
  font-family: "Inclusive Sans", sans-serif;
}

h4 span {
  color: rgb(16 119 119);
}

h1 {
  text-align: start;
  font-family: "Inclusive Sans", sans-serif;
}

p {
  text-align: center;
  font-family: "Inclusive Sans", sans-serif;
}

video {
  width: 100%;
}

.immagine img {
  display: block;
  margin-inline: auto;
  width: 100%;
}

.immagine p {
  text-align: start;
  display: block;
}

.author p {
  text-align: center;
  font-family: "Inclusive Sans", sans-serif;
  color: grey;
}

#caption {
  border-left: 1px solid #ffeb3b;
  padding-left: 1%;
}

#caption h3 {
  color: brown;
  margin-bottom: 0;
  margin-left: 0;
}

#ingredient h2 {
  text-align: start;
  font-family: "Inclusive Sans", sans-serif;
  margin-top: 10%;
  border-bottom: 1px solid rgb(16 119 119);
  padding-bottom: 5%;
}

.focaccia-ingredient {
}

h3 {
}

.topping-ingredient {
}

ul {
  font-family: "Inclusive Sans", sans-serif;
}

li {
  margin: 15px 0 0 5px;
}

#sauce {
  margin-top: 5%;
}

#method h2 {
  border-bottom: 1px solid lightblue;
  padding-bottom: 2%;
  font-family: "Inclusive Sans", sans-serif;
}
#method li {
  margin-top: 1%;
}

ol {
}

dt {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
}

a {
  color: rgb(16 119 119);
  font-family: "Inclusive Sans", sans-serif;
}

footer {
}

footer p {
  margin-left: 20%;
  text-align: start;
}
